body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.nav-link {
	margin-left: 40px;
}

.footer-links {
	text-decoration: none;
	color: #6c757d;
}

#support-hero {
	background-color: rgb(56, 126, 200);
	color: white;
}

#support-hero a {
	color: white;
	margin-right: 15px;
}

#support-hero input {
	padding: 20px 50px;
	width: 100%;
	font-size: 20px;
	border-radius: 10px;
	border: none;
}

#supportWrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 150px;
}
